.loaderContainer {
  display: grid;
  align-content: center;
  justify-content: center;

  min-height: 100vh;
}

.loader {
  border: 0.3rem solid var(--gray);
  border-top: 0.3rem solid var(--dark);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
