NODE_ENV="production"

# API stuff
POSTGRES_PASSWORD=""
POSTGRES_USER=""

# 'postgres' is the docker-compose image. Keep port as '5432' when using docker-compose
DB_HOST="postgres"
DB_PORT="5432"
POSTGRES_DB="home-inventory"

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${POSTGRES_DB}?sslmode=prefer

SECRET="some-random-string-of-characters"
NEXTAUTH_URL=""

GOOGLE_OAUTH_CLIENT_SECRET=""
GOOGLE_OAUTH_CLIENT_ID=""