{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "@casper124578/eslint-config",
    "@casper124578/eslint-config-react",
    "@casper124578/eslint-config-next"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json"
  },
  "rules": {
    "react/hook-use-state": "off",
    "@typescript-eslint/default-param-last": "off",
    "@next/next/no-server-import-in-page": "off",
    "@typescript-eslint/no-redundant-type-constituents": "off"
  }
}
