@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  font-family: Raleway, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: "Raleway";
  src: url("../../public/fonts/Raleway-VF.ttf");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-display: swap;
}

@font-face {
  font-family: "RobotoSlab";
  src: url("../../public/fonts/RobotoSlab-VF.ttf");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-display: swap;
}

@font-face {
  font-family: "FiraCode";
  src: url("../../public/fonts/FiraCode-VF.ttf");
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-display: swap;
}

.modal-content {
  animation: modal-content-open 150ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.model-overlay {
  animation: modal-overlay-open 150ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

#dropdown-trigger-item[data-state="open"] {
  background-color: #1a1c20;
}

@keyframes modal-overlay-open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes modal-content-open {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
