.dropdownContainer {
  position: relative;

  & svg {
    transition: transform 300ms;
  }
}

.dropdownUl {
  z-index: 10;
  position: absolute;
  top: 110%;
  animation: openDropdown 200ms;

  box-shadow: 0 50px 100px -20px rgba(0, 0, 0, 0.2);

  padding: 0.5em;
  border-radius: 0.3em;
  background: var(--dropdown-bg);
  color: var(--gray);

  list-style: none;

  & li {
    margin: 0.2rem 0;

    button {
      background: var(--dropdown-bg);
      width: 100%;
      text-align: left;
    }
  }
}

@keyframes openDropdown {
  from {
    transform: translateY(5px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
