.statsCards {
  display: grid;
  margin-top: 0.5rem;

  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 500px) {
    grid-template-columns: auto;
  }
}

.statsCard {
  padding: 1rem;
  background: var(--gray);

  border-radius: 0.3rem;

  h1 {
    font-size: 1.2rem;
  }

  p {
    margin-top: 0.6rem;
    font-size: 1rem;
  }
}

.item {
  margin-top: 1.5rem;

  h1 {
    margin-bottom: 0.7rem;
  }
}
