.housesGrid {
  display: grid;
  margin-top: 1rem;

  grid-template-columns: repeat(auto-fill, minmax(min(20rem, 100%), 1fr));
  gap: 1rem;
}

.housesItem {
  padding: 1rem;
  background: var(--gray);
  color: var(--dark);

  transition: filter 200ms;
  border-radius: 0.3rem;

  a {
    text-decoration: none;
    color: var(--dark);
  }

  h1 {
    font-size: 1.3rem;
  }

  p {
    margin-top: 0.2rem;
  }
}

.houseItemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;

  h1 {
    margin: 0;
  }

  > div {
    display: flex;
    align-items: center;

    & svg {
      cursor: pointer;
      margin-left: 0.5rem;
      width: 1.2rem;
      height: 1.2rem;
    }
  }
}
