.authContainer {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.authForm {
  width: 32rem;
  padding: 0.5rem;
}

.formRow {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  div,
  input {
    width: 100%;
  }
}

.formGroup {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;

  label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}

.formInput {
  font-size: 1rem;
  padding: 0.5rem;
  background: #bbbbbb;

  border: 1px solid transparent;
  border-radius: 0.3rem;

  &:focus {
    outline: 2px solid var(--blue);
  }
}

.submitBtn {
  padding: 0.5rem 0.8rem;
  font-size: 1rem;
  cursor: pointer;
  background: #bbbbbb;

  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: filter 200ms;
  float: right;

  &:hover:enabled {
    filter: brightness(90%);
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:focus:enabled {
    outline: 2px solid var(--blue);
  }
}
