.authContainer {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.authForm {
  width: 30rem;
  padding: 0.5rem;

  h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}

.formRow {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  div,
  input {
    width: 100%;
  }

  @media (max-width: 500px) {
    flex-direction: column;
    gap: 0;
  }
}

.formGroup {
  margin-bottom: 1.5rem;
  display: flex;
  flex-direction: column;

  p {
    font-size: 1rem;
    font-weight: 500;
  }

  label {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}

.formCheckboxGroup {
  display: flex;
  align-items: center;

  label {
    font-size: 1rem;
    margin: 0;
    margin-right: 1rem;
  }
}

.formInput {
  font-size: 1rem;
  padding: 0.5rem;
  background: #bbbbbb;

  border: 1px solid transparent;
  border-radius: 0.3rem;

  &:disabled {
    cursor: not-allowed;
  }

  &:focus {
    outline: 2px solid var(--blue);
  }
}
