.housesGrid {
  display: grid;
  margin-top: 1rem;

  grid-template-columns: repeat(4, 15rem);
  gap: 1rem;

  @media (max-width: 1100px) {
    grid-template-columns: repeat(3, 15rem);
  }

  @media (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 500px) {
    grid-template-columns: 100%;
  }
}

.housesItem {
  padding: 1rem;
  background: #dddddd;
  text-decoration: none;
  color: var(--dark);

  border-radius: 0.3rem;

  h1 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

  p {
    margin-top: 0.2rem;
  }
}
