:root {
  --dark: #222222;
  --gray: #eeeeee;
  --white: #ffffff;
  --red: #dc3545;
  --blue: #0a84ff;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // todo: setup Roboto font
  // todo: setup color variables
  font-family: "Roboto", sans-serif;
}

html,
body {
  background: #fff;
  color: var(--dark);
}

a:focus-visible {
  outline: 2px solid var(--blue);
}

.btn {
  padding: 0.4rem 0.8rem;
  font-size: 1rem;

  border-radius: 0.3rem;
  background: #eeeeee;
  border: 1px solid transparent;
  cursor: pointer;
  transition: border 200ms;

  text-decoration: none;
  color: var(--dark);

  &:disabled {
    cursor: not-allowed;
  }

  &:hover:enabled {
    filter: brightness(90%);
  }

  &:disabled {
    cursor: not-allowed;
  }

  &:focus:enabled {
    outline: 2px solid var(--blue);
  }

  &.small {
    padding: 0.2rem 0.5rem;
  }

  &.link-btn {
    background: none;
    text-decoration: underline;
  }

  &.danger {
    background: var(--red);
  }
}

.modal-active {
  display: flex !important;
}

.modal-content-active {
  animation: openAni 150ms linear;
}

.modal-closed {
  animation: closeAni 150ms linear;
}

.bold {
  font-weight: bold;
}

@keyframes closeAni {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

@keyframes openAni {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.tooltip-overwrite {
  font-size: 0.9rem !important;
  opacity: 1 !important;
}
