:root {
  --dark: #222222;
  --gray: #eeeeee;
  --white: #ffffff;
  --red: #dc3545;
  --blue: #0a84ff;

  --modal-bg: #f2f2f2;
  --dropdown-bg: #d6d6d6;
  --hover-color: #bbbbbb;
  --tooltip-bg: #bbbbbb;
}

.dark {
  --dark: #eeeeee;
  --white: #111111;
  --gray: #222222;

  --modal-bg: #2f2f2f;
  --hover-color: var(--gray);
  --dropdown-bg: #1b1b1b;
  --tooltip-bg: #1b1b1b;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // todo: setup color variables
  font-family: "Roboto", sans-serif;
}

html,
body {
  background: var(--white);
  color: var(--dark);
  min-height: 100vh;

  transition: background 200ms, color 200ms;
}

a {
  color: var(--dark);

  &:focus-visible {
    outline: 2px solid var(--blue);
  }
}

.btn {
  padding: 0.4rem 0.8rem;
  font-size: 1rem;

  border-radius: 0.3rem;
  background: var(--gray);
  border: 1px solid transparent;
  cursor: pointer;
  transition: border 200ms;

  text-decoration: none;
  color: var(--dark);

  &:disabled {
    cursor: not-allowed;
    opacity: 0.8;
  }

  &:hover:enabled {
    filter: brightness(90%);
  }

  &:focus:enabled {
    outline: 2px solid var(--blue);
  }

  &.small {
    padding: 0.2rem 0.5rem;
  }

  &.link-btn {
    background: none;
    text-decoration: underline;
  }

  &.has-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.6rem;
  }

  &.icon-btn {
    width: 100%;
    display: grid;
    place-items: center;
  }

  &.danger {
    background: var(--red);
    color: #000000;
  }
  &.submit {
    filter: brightness(80%);

    &:hover {
      filter: brightness(75%);
    }
  }
}

.modal-active {
  display: flex !important;
}

.modal-content-active {
  animation: openAni 150ms linear;
}

.modal-closed {
  animation: closeAni 150ms linear;
}

.bold {
  font-weight: bold;
}

@keyframes closeAni {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

@keyframes openAni {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.tooltip-overwrite {
  font-size: 0.9rem !important;
  opacity: 1 !important;
}
