.navContainer {
  width: 100%;
  height: 3rem;

  justify-content: center;
  align-items: center;
  display: flex;

  position: sticky;
  top: 0;
  z-index: 999;

  background: var(--gray);
}

.navContent {
  --nav-width: 90%;

  width: var(--nav-width);
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 768px) {
    --nav-width: 75%;
  }

  @media (min-width: 1500px) {
    --nav-width: 1200px;
  }
}

.navTitle {
  font-size: 1.5rem;

  a {
    text-decoration: none;
    color: var(--dark);
  }
}

.navLinksContainer {
  display: flex;
  align-items: center;

  .menuActive {
    animation: openMenu 200ms;
    background: var(--gray);
    position: fixed;
    top: 3.1rem;
    left: 0;
    width: 100%;
    z-index: 9999;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 0 50px 100px -20px rgba(0, 0, 0, 0.2);

    li {
      margin: 0;
      padding: 0.8rem 0;
    }
  }

  @media (min-width: 500px) {


    .menuBtn {
      display: none !important;
    }
  }

  @media (max-width: 500px) {
    ul {
      display: none;
    }
  }
}

.navLinks {
  display: flex;
  list-style-type: none;
}

.navLink {
  margin-left: 0.8rem;
  font-size: 1.1rem;

  a {
    text-decoration: none;
    color: var(--dark);

    border-bottom: 1.5px solid transparent;
    transition: border 200ms;
  }

  &:hover a {
    border-bottom-color: var(--dark);
  }
}

@keyframes openMenu {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
