.productsHeader {
  margin-top: 1rem;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: 500px) {
    flex-direction: row;
    align-items: center;
  }
}

.productsButtons {
  display: flex;
  flex-direction: column;

  button {
    width: 100%;
    margin: 0.5rem 0;
  }

  @media (min-width: 500px) {
    flex-direction: row;

    button {
      margin: 0;
      margin-right: 0.5rem;
      width: 8rem;
    }
  }
}

.productsSelect {
  width: 100%;

  @media (min-width: 500px) {
    width: 200px;
  }
}
